<h1 class=" flex justify-center m-5
    animate-pulse inline-block py-4 px-40 bg-red-500 text-red-100 rounded-lg m-10
    ">
      <%= msg%>
    </h1>
<div class="
flex justify-center gap-8
">
  <a href="<%=games[0].game_url%>">
    <img src="<%=games[0].thumbnail%>" class="
    object-contain hover:object-scale-down">
  </a>
  <a href="<%=games[1].game_url%>">
    <img src="<%=games[1].thumbnail%>">
  </a>
  <a href="<%=games[2].game_url%>">
    <img src="<%=games[2].thumbnail%>">
  </a>  
</div>

