<div class="
flex justify-center gap-8
">
  <a href="<%=games[0].game_url%>">
    <img src="<%=games[0].thumbnail%>" class="
    object-contain hover:object-scale-down">
  </a>
  <a href="<%=games[1].game_url%>">
    <img src="<%=games[1].thumbnail%>">
  </a>
  <a href="<%=games[2].game_url%>">
    <img src="<%=games[2].thumbnail%>">
  </a>  
</div>

