<div class="flex justify-center text-slate-200 text-xl m-10">
    <%= msg%>
</div>
<div>
    <h2 class="
    grid grid-cols-2 m-5 gap-5 text-slate-200
    ">
    <% allSaved.forEach(saved => {%>
        
        <img class="grid justify-self-center" src="<%= saved.thumbnail%>" alt="game poster">
       
        <ul>
            <li>
                Title: <%= saved.title%>
            </li>
            <li>
                <div class="flex m-1">
                    <a class="flex 10px border-slate-200 border-2 p-4 m1"
                    href="<%= saved.game_url%>">GO PLAY!</a>
                </div>
                <form method="POST" action="/saved/<%=saved.gameId%>?_method=DELETE">
                    <input hidden type="text" name="name" value="<%= saved.gameId %>">
                    <button class="flex border-slate-200 border-2 p-4 m-1"
                    type="submit">Remove</button>
                </form>
            </li>

        </ul>
        <%})%>
    </h2>
</div>