<%=msg%>
<div >
    <h2 class="
    grid grid-cols-2 m-5 gap-5 text-slate-200
    "> 
    <% results.forEach(result => {%>
        <img class="justify-self-center"
        src="<%= result.thumbnail%>" alt="game poster">
       
        <ul>
            <li>
                Title: <%= result.title%>
            </li>
            <li>
                Platform: <%= result.platform%>
            </li>
            <li>
                Genre: <%= result.genre%>
            </li>
            <li>
                Description: <%= result.short_description%>
            </li>
            <li>
                <div class="flex m-1">
                    <a class="flex 10px border-slate-200 border-2 p-4 m1"
                    href="<%= result.game_url%>">GO PLAY!</a>
                </div>
                <!-- form to CREATE a new game in saved for later -->
                <form method="POST" action="/saved">
                <input hidden value="<%= result.id %>" name="gameId"/>
                <input hidden value="<%= result.genre %>" name="genre"/>
                <input hidden value="<%= result.platform %>" name="platform"/>
                <input hidden value="<%= result.title %>" name="title"/>
                <input hidden value="<%= result.thumbnail %>" name="thumbnail"/>
                <input hidden value="<%= result.game_url %>" name="game_url"/>
                <button class="flex border-slate-200 border-2 p-4 m-1"
                type="submit">SAVE</button>

                </form>
            </li>

        </ul>
        <%})%>
    </h2>
</div>