<div >
    <h2 class="
    grid grid-cols-2 m-5 gap-5
    ">
    <% results.forEach(result => {%>
        <img src="<%= result.thumbnail%>" alt="game poster">
       
        <ul>
            <li>
                Title: <%= result.title%>
            </li>
            <li>
                Platform: <%= result.platform%>
            </li>
            <li>
                Genre: <%= result.genre%>
            </li>
            <li>
                Description: <%= result.short_description%>
            </li>
            <li>
                <a href="<%= result.game_url%>">GO PLAY!</a>
                <!-- form to CREATE a new game in saved for later -->
                <form method="POST" action="/saved">
                <input hidden value="<%= result.id %>" name="gameId"/>
                <input hidden value="<%= result.genre %>" name="genre"/>
                <input hidden value="<%= result.platform %>" name="platform"/>
                <input hidden value="<%= result.title %>" name="title"/>
                <input hidden value="<%= result.thumbnail %>" name="thumbnail"/>
                <input hidden value="<%= result.game_url %>" name="game_url"/>
                <button type="submit">Save this game</button>

                </form>
            </li>

        </ul>
        <%})%>
    </h2>
</div>